* {
  margin: 0; /* Обнуление всех стандартных маржинов */
}
html {
  max-width: 1600px;
  margin: auto;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
}
body { 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* -------------------------------------- start header -----------------------------------------*/
header {
  display: block;
  position: relative;
  width: 100%;
  background-image: url(/AlfaTrans/assets/header/main-bg-1.jpg);
  background-repeat: no-repeat;
}
.logo {
  display: flex;
  position: absolute;
  top: 70px;
  left: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  align-items: center;
  text-align: center;
}
.logo-img {
  display: flex;
  width: 120px;
  height: 120px;
  margin-right: 30px;
}
.logo-txt {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 48px;
  color: white;
}
.hide-nav {
  display: flex;
  height: auto;
  opacity: 0;
}
.main-nav {
  display: flex;
  margin: 250px 70px 0;
}
#nav-menu {
  display: flex;
  width: 100%;
  text-align: center;
  padding-inline-start: 0;
  justify-content: space-between;
}
#nav-menu li{
  width: 250px;
  height: 250px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  list-style-type: none;
  background-blend-mode: overlay;
  transition: all 0.3s ease; /* трансформация свечения*/
}
#nav-menu li a {
  text-decoration: none;
}
.main-nav-1 {
  width: 100%;
  background-image: url(/AlfaTrans/assets/header/main-nav-1.gif);
  background-size: 90%;
}
.main-nav-2 {
  background-image: url(/AlfaTrans/assets/header/main-nav-2.jpg);
  background-size: 250%;
}
.main-nav-3 {
  background-image: url(/AlfaTrans/assets/header/main-nav-3.jpg);
  background-size: 170%;
}
.main-nav-4 {
  background-image: url(/AlfaTrans/assets/header/main-nav-4.gif);
  background-size: 80%;
}
#nav-menu li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255);
  box-shadow: 0px 0px 20px rgba(255,255,255);
}
/* -------------------------------------- end header -----------------------------------------*/
/* -------------------------------------- start main -----------------------------------------*/
main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 680px;
  background: url(/AlfaTrans/assets/main/about-bg.jpg);
  background-position: right;
  background-repeat: no-repeat;
}
.about-txt {
  width: 800px;
  margin: 100px 0 100px 100px;
}
.about-txt h2 {
  font-size: 48px;
  margin-bottom: 50px;
}
.about-txt p {
  font-size: 24px;
  text-align: justify;
}
.about-pride {
  display: flex;
  flex-direction: row;
  width: 800px;
  margin-left: 100px;
  justify-content: space-between;
}
.about-pride div {
  width: 250px;
  height: 150px;
  border: 3px solid rgba(255, 95, 2, 0.1);
  border-radius: 20px;
  text-align: center;
}
.about-pride h2 {
  font-size: 80px;
  color: rgb(179, 60, 5);
}
.about-pride p {
  font-size: 18px;
}
.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 680px;
  background: url(/AlfaTrans/assets/main/services-bg.jpg);
  background-position: left;
  background-repeat: no-repeat;
  text-align: right;
}
.services-txt {
  width: 800px;
  margin: 100px 100px 100px auto;
}
.services-txt h2 {
  font-size: 48px;
  margin-bottom: 50px;
}
.services-txt p {
  font-size: 24px;
  text-align: justify;
}





/* ------------------------------ Adaptive --------------------*/

@media (max-width: 1250px) {
  #nav-menu li{
    width: 150px;
    height: 150px;
  }
  .about-txt {
    margin: 100px 0 100px 50px;
  }
  .services-txt {
    margin: 100px 50px 100px auto;
  }
}

@media (max-width: 950px) {
  .logo {
    top: 50px;
    left: 20px;
  }
  .logo-img {
    width: 80px;
    height: 80px;
  }
  .logo-txt {
    font-size: 48px;
  }
  #nav-menu {
    margin-bottom: 20px;
  }
  #nav-menu li{
    width: 100px;
    height: 100px;
  }
  .main-nav {
    margin: 20px;
  }
  .about-txt {
    width: 90%;
    margin: 100px 20px 100px;
  }
  .about-pride {
    width: 90%;
    margin-left: 20px;
  }
  .about-pride div {
    width: 150px;
  }
  .about-pride h2 {
    font-size: 40px;
  }
  .about-pride p {
    font-size: 14px;
  }
  .services-txt {
    width: 90%;
    margin: 100px 20px 100px;
  }
}

@media (max-width: 515px) {
  .logo {
    top: 10px;
    left: 10px;
  }
  .logo-img {
    width: 50px;
    height: 50px;
  }
  .logo-txt {
    font-size: 16px;
  }
  #nav-menu {
    margin-bottom: 10px;
  }
  #nav-menu li{
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .main-nav {
    margin: 20px;
  }
  .about-txt {
    width: 90%;
    margin: 100px 20px 100px;
  }
  .about-pride {
    width: 90%;
    margin-left: 20px;
  }
  .about-pride div {
    width: 150px;
  }
  .about-pride h2 {
    font-size: 40px;
  }
  .about-pride p {
    font-size: 14px;
  }
  .services-txt {
    width: 90%;
    margin: 100px 20px 100px;
  }
}
